*, body, html {
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.tff") format("truetype");
}

/* hides the bar at the graphs */
.modebar {
    display: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #313131;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

.fs-4 {
    font-size: 1em;
}